.contact-container {
  display: flex;
  padding: 60px;
}

.contact-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 6rem;
  width: 30%;
}

.form {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin-top: 50px;
  padding-left: 40px;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 50%;
  margin-bottom: 30px;
}

.form-label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.form-input {
  border: none;
  border-bottom: 1px solid black;
  margin-right: 30px;
  outline: none;
  padding-top: 20px;
}

.area {
  resize: none;
  padding-top: 120px;
}

.btn-container {
  width: 100%;
}

.form-btn {
  width: 130px;
  height: fit-content;
  padding: 15px;
  background-color: blue;
  border: none;
  color: white;
  text-transform: uppercase;
}

/* MEDIA QUERIES  */

@media (min-device-width: 320px) and (max-width: 480px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 10px;
  }

  .contact-title {
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }

  .form {
    flex-direction: column;
    padding: 0;
    width: 100%;

    margin-top: 10px;
  }

  .form-field {
    padding-left: 30px;
    width: 90%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .btn-container {
    text-align: center;
  }

  .btn-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  .form-btn {
    margin: 20px 30px;
  }
}

@media (min-device-width: 760px) and (max-width: 1024px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 10px;
  }
  .contact-title {
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }

  .form {
    flex-direction: column;
    padding: 0;
    width: 100%;

    margin-top: 10px;
  }

  .form-field {
    padding-left: 30px;
    width: 90%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .btn-container {
    text-align: center;
  }

  .btn-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  .form-btn {
    margin: 20px 30px;
  }
}
