.clients-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(215, 239, 232);
  padding: 2.5rem;
}

.clients-title {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

.clients-text {
  width: 50%;
  font-size: 2rem;
  text-align: center;
}

.clients-list {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
  padding: 0;
}

.clients-list-item {
  width: 25%;
}

.clients-img {
  max-width: 100%;
  margin: 10px;
}
