.clients-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(215, 239, 232);
  padding: 2.5rem;
}

.clients-title {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

.clients-text {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  line-height: 27px;
}

.clients-list {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
  padding: 0;
  padding-bottom: 30px;
}

.clients-list-item {
  width: 25%;
}

.clients-img {
  max-width: 100%;
  margin: 30px;
}

/* MEDIA QUERIES */

@media (min-device-width: 320px) and (max-device-width: 480px) {
  .clients-section {
  }

  .clients-title {
    font-size: 2rem;
  }

  .clients-text {
    font-size: 0.7rem;
    line-height: 15px;
    width: 100%;
  }

  .clients-list {
    width: 100%;
  }

  .clients-list-item {
    width: 50%;
  }

  .clients-img {
    max-width: 100%;
    width: 70px;
    margin: 20px auto;
  }
}
