.header {
  position: absolute;
  width: 90%;
  display: flex;
  padding: 0;
  margin: 0px 40px;
  list-style: none;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.header-logo {
  display: flex;
  margin: 20px;
  font-size: 50px;
  align-items: center;
}

.r-icon {
  width: 10px;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-item {
  margin: 15px;
}

.header-toggle {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}
