.landing-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  width: 100%;
}

.landing-container::before {
  content: "";
  background: url("/public/images/landing.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.landing-title {
  position: absolute;
  left: 100px;
  top: 100px;

  font-family: "Teko";
  font-weight: 400;
  font-size: 35rem;
  text-transform: uppercase;

  color: #000000;
}

.view-btn {
  display: flex;
  padding: 40px 60px;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 200;
  text-transform: uppercase;

  position: absolute;
  height: 55px;
  right: 50px;
  bottom: 50px;

  background: #0c0c0c;
  color: white;
  border: none;
  overflow: hidden;
}

/* MEDIA QUERIES */

@media (min-device-width: 320px) and (max-width: 480px) {
  .landing-container {
    height: 45vh;
  }

  .landing-container::before {
    background-attachment: local;
    background-size: contain;
  }

  .landing-title {
    font-size: 8rem;
    left: 20px;
    top: 75px;
  }

  .view-btn {
    width: 90%;
    padding: 0;
    margin: auto;

    right: 0;
    bottom: 0;

    left: 0;
    font-size: 0.8rem;
  }
}
