@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");

html {
  font-size: 100%;
  font-family: "Teko", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  transition: 0.5s ease;
}
